<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="interest_container">
   
        <% attractions.forEach(attraction => { %> 
             <div class="interest_box">
                 <img src="
                <% if (!attraction.image) { %>
                    https://www.abc.net.au/cm/rimage/6823728-3x2-xlarge.jpg?v=8
                <% } else { %>
                    <%= attraction.image %>
                <% } %>
                 " alt="">
                 <div class="interest_description">
                     <h2><%= attraction.name %> </h2>
                     <p><%= attraction.description %> </p>
                 </div>
                 <div class="interest_star">
                     <i class="fa fa-star-o" data-object="<%= JSON.stringify(attraction);%>" id="<%=attraction.id%>" style="font-size:50px"></i>
                 </div>
             </div>
     
         <% })  %> 
     
     </div>
    <script>
        // let arrOfattractions = document.querySelectorAll('.fa')
        // let arrOfSelectedAttractions = []
        // arrOfattractions.forEach(att => {
        //     att.addEventListener('click', e =>{
        //         let attId = e.target.id
        //         arrOfSelectedAttractions.push(attId)
        //         e.target.style.color = 'red'
        //     })
        // })
        
    </script>
</body>
</html>





 
 