<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MMM Your itinerary</title>

    <link rel="stylesheet" href="css/shared.css">
    <link rel="stylesheet" href="css/index__interest_list.css">
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/itinerary.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
    <%- include('shared__navbar'); -%>

    <nav class="itinerary_page_header_cover">
        <h1>Your Activities</h1>
    </nav>

    <div class="itinerary_global_component">
        <section class="itinerary_page__controls">
            <button class="button button_outline">Print</button>
            <button class="button button_outline">Share</button>
        </section>

        <section class="itinerary_page__interest_list">
            <!-- SET IT UP -->
            <%selectedLocs.forEach(loc1 => { %> 
                <p><% var loc = JSON.parse(loc1) %></p>
                <div class="itinerary_interest_box">
                    <img src="
                        <% if (!loc.image) { %>
                            https://www.abc.net.au/cm/rimage/6823728-3x2-xlarge.jpg?v=8
                        <% } else { %>
                            <%= loc.image %>
                        <% } %>
                 " alt="">
                    <div class="itinerary_interest_description">
                        <h2><%= loc.name %> </h2>
                        <p><%= loc.description %></p>
                        <p><b>Address:</b> 106 Elizabeth Street, Melbourne VIC 3000 </p>
                        <p><b>Recommended time: </b></p>
                        <p><b>Rating:</b>
                            <% x = (Math.floor(Math.random() * 2) == 0); %>    
                            <% if (x) { %>          
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star"></span>
                            <% } else { %>      
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span>
                                <span class="fa fa-star checked"></span> 
                            <% } %>
                        </p>   
                    </div>
                    <form action="/attraction" method="post">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="id" value="<%= loc.id %>">
                        <button class="">Remove</button>
                    </form>
                </div>
        
            <%})  %>   
        </section>
    </div>
</body>
</html>