<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/welcome_page.css">
    <link href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@700&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="https://flabbergastwiz.com/wp-content/uploads/2018/09/cropped-FBfavicon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Suez+One&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <%- include('welcome_page__header'); -%>
    <div class="welcome_page__main">
        <%- include('welcome_page__user_dropdown'); -%>
        <%- include('welcome_page__login'); -%>
    </div>
    <!-- <br><br><br><br>
    <%=// `User ${ currentUserId }'s session`%>
    <br />
    <%=// `User ${ currentUserId }'s starred items: ${ starredItems }`%> -->

</body>
</html>